<label for="name">Name:</label>
<input id="name" type="text" [(ngModel)]="name"/>

<label for="surname">Surame:</label>
<input id="surname" type="text" [(ngModel)]="surname"/>

<label for="specialization">Specialization:</label>
<input id="specialization" type="text" [(ngModel)]="specialization"/>

<label for="position">Position:</label>
<input id="position" type="text" [(ngModel)]="position"/>

<label for="resumeLink">Resume Link:</label>
<input id="resumeLink" type="text" [(ngModel)]="resumeLink"/>

<button (click)="addInfo()">Register</button>
